/* src/components/Vault/CredentialItem.css */
.credential-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.75rem;
  border: 1px solid var(--color-border);
  border-radius: 8px;
  background-color: var(--color-bg-light);
  cursor: pointer;
  transition: background-color 0.2s ease, border-color 0.2s ease;
}

.credential-item:hover {
  background-color: var(--color-bg-secondary);
  border-color: #fbdba7;
}

.credential-info {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.credential-icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: #FFF7ED; /* Corresponde al bg-orange-100 */
  border-radius: 50%;
}

.credential-icon {
  color: var(--color-text-accent);
  font-size: 1.1rem;
}

.credential-name {
  font-size: 0.95rem;
  font-weight: 500;
  color: var(--color-text-primary);
}

.credential-email {
  font-size: 0.8rem;
  color: var(--color-text-secondary);
}

.view-password-button {
  background: none;
  border: none;
  color: var(--color-text-accent);
  font-size: 1rem;
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 50%;
  transition: color 0.2s ease;
}

.view-password-button:hover {
  color: var(--color-primary-dark);
}

.credential-password.revealed {
  color: var(--color-text-primary);
  font-weight: 500;
}
.credential-actions {
  display: flex;
  gap: 0.5rem;
}
.action-button {
  background: none;
  border: none;
  color: var(--color-text-secondary);
  font-size: 1rem;
  cursor: pointer;
  padding: 0.5rem;
  border-radius: 50%;
  transition: color 0.2s ease;
}
.action-button:hover {
  color: var(--color-primary);
}

.action-button.delete:hover {
  color: var(--color-error);
}